@import "tailwindcss";

@theme {
  --color-neon-cyan: #00f3ff;
  --color-neon-magenta: #ff00ff;
  --color-neon-purple: #bc13fe;
  --color-neon-green: #39ff14;
  --color-neon-red: #ff3131;
  --color-neon-orange: #ff5e00;
  --color-cyber-black: #0d0d0d;
}

:root {
  background-color: var(--color-cyber-black);
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
